<h2>Paises</h2>
<hr />
<ul class="list-group">
  <li
    routerLink="home"
    routerLinkActive="active"
    [routerLinkActiveOptions]="{ exact: true }"
    routerLinkActive="router-link-active"
    class="list-group-item"
  >
    Home
  </li>
  <li
    routerLink="about"
    routerLinkActive="active"
    routerLinkActive="router-link-active"
    class="list-group-item"
  >
    About page
  </li>
  <li
    routerLink="contact"
    routerLinkActive="active"
    routerLinkActive="router-link-active"
    class="list-group-item"
  >
    Contact page
  </li>
</ul>
